html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    background-color: #e4b9ba;
    margin: 0;
}

h1, h2, h3, p{
    font-family: 'Trebuchet MS', 'Tahoma', 'Verdana', 'Arial', 'sans-serif';
}

.nav{
    position: sticky;
    position: sticky;
    top: 0;
}

nav{
    background-color: white;
    
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    position: absolute;
    top: 20px;
    width: 10vw;
}

.links{
    flex: 1;
    text-align: right;
}

.links ul{
    padding: 0;
}

.links ul li{
    list-style: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.links ul li:hover{
    opacity: 0.6;
}

.dropdown{
    display: none;
}

.links ul li:hover .dropdown{
    display: block;
    position: absolute;
    background: white;
    margin-top: 15px;
    text-align: left;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content:space-evenly;
    align-items: center;
    margin: 30px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container h1, h2, h3{
    font-weight: 300;
}

.container h1{
    font-size: 40px;
}

.container_form{
    width: 100%;
    max-width: 600px;
}

.input{
    margin-bottom: 20px;
}

input,textarea{
    width: 97%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    background: transparent;
    font-size: 15px;
}

button{
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
    outline: 0;
    background: transparent;
    font-size: 15px;
}

@media screen and (max-width:990px) {
    .container{
        flex-flow: column;
        margin: 0;
    }
    .container_form{
        width: 100%;
        max-width: 500px;
    }
}

.footer_container{
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
}

.footer_container ul li{
    display: inline-block;
    padding: 0 10px;
}

.footer_container ul li a{
    text-decoration: none;
    color: rgb(98, 98, 98);
    font-family: 'Trebuchet MS', 'Tahoma', 'Verdana', 'Arial', 'sans-serif';
}

.footer_container ul li a:hover{
    opacity: 0.6;
    cursor: pointer;
}

.footer_logo img{
    width: 10vw;
}

.footer_container2{
    display: flex;
    background: black;
    flex-flow: column;
    align-items: center;
}

.footer_container2 ul li{
    display: inline-block;
    padding: 0 10px;
}

.footer_container2 ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Tahoma', 'Verdana', 'Arial', 'sans-serif';
    font-weight: 100;
    font-size: 15px;
}

.footer_container2 ul li a:hover{
    text-decoration: underline;
}

.footer_container2 h1{
    color: white;
    font-family: 'Trebuchet MS', 'Tahoma', 'Verdana', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 10px;
    cursor: pointer;
}
